# compiled objects
*.o

# compiled graphics
*.1bpp
*.2bpp
*.pic

# compiled roms
*.gbc
*.gb
*.patch

# rgbds extras
*.map

# tool binaries
*.exe

# precompiled python
*.pyc
*$py.class

# save game files
*.sgm
*.sav
*.rtc
*.sn*
*.sa*
*.sg1

# other files
src/.gfx
build
*.bak
tools/banks/*
tools/map2png/tile_bins/*
tools/map2png/secondary_tile_bins/*
tools/map2png/extracted_map_data/*
tools/map2png/temp.bin
